#imagem-acesso-restrito{
    text-align: center;
}
#botao-enviar{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#message-sucesso{
    text-align: center;
}

#message-sucesso:empty {
    display: none;
}

.tittle-page{
    text-align: center;
    margin-top: 2px;
    font-size: 16px;
    font-weight: bold;
}

.zoom{
    font-size: 20px;
}

.tabela-chamados{
    text-align: center;
}

#tittle-tick{
    text-align: center;
    margin: 5px;
}

.textArea{
    text-align: center;
    margin: 5px;
}

.button-submit{
    text-align: center; 
    margin: 5px;
}

#type-tick{
    text-align: center; 
    margin: 5px;
}

.space{
    padding-bottom: 12px;    
}

